name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        
      - name: Set up Bazelisk
        uses: bazelbuild/setup-bazelisk@v3

      - name: Cache Bazel
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel
            ~/.cache/bazelisk
          key: bazel

      # TODO: Use script instead here?
      - name: Extract Version
        id: version
        run: |
          VERSION=$(git describe --tags --always)
          # Remove 'v' prefix
          VERSION="${VERSION#v}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Version: $VERSION"
          
      - name: Build Release
        run: bazel build //sbcman:sbc_man_wheel --workspace_status_command="tools/get_version.sh"

      - name: Prepare Artifacts
        run: |
          mkdir -p release_artifacts
          cp bazel-bin/sbcman/sbc_man-*.whl release_artifacts/
        
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: release_artifacts/*.whl
          tag_name: ${{ github.ref_name }}
          name: Release ${{ steps.version.outputs.version }}    
          generate_release_notes: false
          draft: false
          prerelease: false
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

